* {
  margin: 0;
  padding: 0;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
}
.nav-item {
  display: flex;
  justify-content: center;
}

/*text*/

.black-p {
  color: #424242;
}

.black-s {
  color: #727272;
}

.black-t {
  color: #131313;
}
.head-text {
  color: #0e7eff;
  font-weight: 700;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.primary-bg {
  background-color: rgba(14, 255, 227, 0.1);
}

.secondary-bg {
  background-color: #ffedeb;
}

.navbar .banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-size: 2.8rem;
  font-weight: 700;
}

/*banner*/
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.section-title {
  font-size: 4rem;
  font-weight: 700;
  max-width: 1440px;
  margin: 27px auto;
}
.btn-primary {
  background-color: #0e7eff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 30px 0px;
}
.banner-img {
  width: 100%;
}

.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.our-features {
  margin-left: 50px;
  max-width: 530px;
}
.feat-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.banner-des {
  max-width: 90%;
  margin: 0px auto;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: space-between;
  margin-top: 50px;
  max-width: 100%;
  margin: 46px 62px;
}
.fact-card {
  border: 1px solid #1684e5;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-value {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #727272;
  margin-top: 1px;
}

.sponsore-info {
  max-width: 540px;
  margin: 50px auto;
}

.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 90%;
  margin: 0px auto;
  gap: 50px;
}
.sponsors > img {
  filter: grayscale(100%);
}
/*responsive*/
@media screen and (max-width: 576px) {
  .navbar,
  .nav-item,
  .teams {
    display: flex;
    flex-direction: column;
  }
  .team-img-container,
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .our-features {
    margin: 50px auto;
    text-align: center;
  }
  .sponsors {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  }

  /*medium responsive*/
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
      flex-direction: column;
    }
    .our-features {
      margin: 50px auto;
    }
  }
}
